/* cc_responsive_forms_06.css  */

html {
font-size:100%;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  padding: 20px 15%;
}
/*form header {
  margin: 0 0 20px 0; 
}
form header p {
  font-size: 90%;
  color: #999;
}
form header h2 {
  margin: 0 0 5px 0;
}*/

/* - - - - - - [ Bootstrap Declarations ] - - - - - - */

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  display: inline-block;
  height: 1.75em;
  line-height: 1em;
/*  height: 20px;
  padding: 4px 6px;
  margin-bottom: 10px;
  font-size: .9875em;
  line-height: 20px;*/
  color: #555555;
  vertical-align: middle;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

select { 
  height: 1.675em;
}


textarea {
  height: auto;
}

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  background-color: #ffffff;
  border: 1px solid #cccccc;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
     -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
       -o-transition: border linear 0.2s, box-shadow linear 0.2s;
          transition: border linear 0.2s, box-shadow linear 0.2s;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: rgba(82, 168, 236, 0.8);
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */

  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}

input:focus:invalid:focus,
textarea:focus:invalid:focus,
select:focus:invalid:focus {
  border-color: #e9322d;
  -webkit-box-shadow: 0 0 6px #f8b9b7;
     -moz-box-shadow: 0 0 6px #f8b9b7;
          box-shadow: 0 0 6px #f8b9b7;
}


/* - - - - - - [ END Bootstrap Declarations ] - - - - - - */


legend { padding:0 .5em .5em;
font-size:1.25em;
}

label { 
	font-size:.75em;	line-height:1.125em;color: rgba(33, 16, 0, .7);
margin-bottom:.5em;
}

form > div,
fieldset > div
{
  clear: both;
  overflow: hidden;
  padding: 1px;
  margin: 0;
}

fieldset > div > div {width:100%;
display:inline-block;
margin-right:1.5%;
}

fieldset > div > div.street {
margin-right:0;
}

fieldset > div > div.i2 {width:48.25%;
}

fieldset > div > div > label {
width: 25%;
float: left;
padding-right: 2%;
} /*, legend*/

fieldset > div > div > label.comments
 { width: 100%;
padding-right: 0;
}

input[type=text],
input[type=email],
input[type=tel],
input[type=url],
input[type=password],
textarea {
	width: 100%;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
input[type=text],
input[type=email],
input[type=tel],
input[type=url],
input[type=password] {
  width: 75%;
}
input[type=text]:focus,
input[type=email]:focus,
input[type=url]:focus,
input[type=password]:focus,
input[type= submit]:focus,
textarea:focus {
  outline: 0;
  border-color: #4697e4;
}

/* - - [ cwebba codes ] - -  */

div.street { 
	width: 98.25%;
}

div.street label { width: 12.25%;
float: left;
}

div.street input[type=text] { width: 87.75%;
}

div.city { width:62%;
display:inline-block;
margin-right:1.5%;
}

div.city label { width: 19.125%;
float: left;
padding-right: 1.5%;
display:inline-block;
}

div.city input { width:80%;
display:inline-block;
}



div.state { width:12%;
display:inline-block;
margin-right:1.5%;
}

div.state label { width:36%;
display:inline-block;
}

div.zip {width:20.5%;
display:inline-block;
}

div.zip label { width:18%;
padding-right: 2%;
display:inline-block;
}

div.zip input { width:80%;
display:inline-block;
}

div.yes {width:100%;
display:inline-block;
}

div.yes label { width:78%;
display:inline-block;
}

div.yes input { width:6%;
padding-right: 4%;
display:inline-block;
}

.i2,
.street,
.city,
.state,
.zip,
#title9
{ margin-bottom:.5em;
}

.comments { font-size:1em;
margin-top:.25em;
}

.sendbuttonbox { margin-top:.75em;
}

button { padding:.5em 1em;
font-style:bold;
background:#CF8;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
-webkit-border-radius: .5em;-moz-border-radius: .5em;border-radius: .5em;}

.last { margin-right:0;
}


/* MEDIA QUERIES START HERE */

@media (max-width: 1040px) {
div.city { width:100%;
display:inline-block;
margin-right:0;
}

div.city label { width:10%;
}
div.city input {
 width:88%;
}
div.state { width:47%;
}

/*.state label { width:300px;
padding-right:2%;
}*/
}

@media (max-width: 880px) {
div.nest,
div.zip { width:42%;
}

div.nest label,
div.zip label,
 { width:12%;
}
}

@media (max-width: 760px) {

fieldset > div > div {width:100%;
display:inline-block;
margin-right:2%;
	}

fieldset > div > div.i2 {width:100%;
}

div.street label,
div.street input { 
width:100%!important;
display:inline-block;
float:none;
margin-right:0;
}

}

@media (max-width: 600px) {

fieldset > div > div > label,
legend {
	width: 100%;
  float: left;
padding-right: 2%;
	}

input[type=text],
input[type=email],
input[type=url],
input[type=password] {
width: 100%;
	}

fieldset > div > div.i2 {
}

}
